<html>
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <% include common/head.ejs %>
</head>
<body>
<% include common/header.ejs %>

<div class="wrap-404">
    <h1>404 Not Found.</h1>
    <p>Sorry we can't find that!</p>
</div>
</body>
</html>
