<div class="col-md-2"></div>
<div class="col-md-8">
    <form>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Title:</h3>
            </div>
            <div class="panel-body">
                    <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">category:</h3>
            </div>
            <div class="panel-body">
                <select class="form-control">
                    <% categorys.forEach(function (category) {%>
                        <option value="<%= category.name%>"><%= category.name%></option>
                    <%})%>
                </select>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">content:</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <textarea class="form-control" rows="20" id="content"></textarea>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-10">
                        <button type="submit" class="btn btn-default">submit</button>
                    </div>
                </div>
            </div>
        </div>
        
    </form>
</div>
<div class="col-md-2"></div>    
    <script type="text/javascript">
        $('button').click(function () {
            var title = $('#title').val();
            var content = $('#content').val();
            var author = $('a.username').text();
            var categoryName = $('select').val();

            $.ajax({
                url: '/newTopic',
                type: 'POST',
                data: {
                    "author": author,
                    "title": title,
                    "content": content,
                    "categoryName": categoryName
                },
                success: function (data) {
                    if (data.result = 1) {
                        window.location = '/';
                    }
                }
            })
        })
        $('#content').keydown(function (event) {
            if (event.which == 9) {
                event.preventDefault();
                return false; 
            }
        })
    </script>
</div>
