<div class="topic-block">
    <div class="topic-label">
        <span>主题</span>:
        <p><%= topic.title%></p>
    </div>
    <div class="topic-label">
        <span>内容:</span>
        <p>
            <%= topic.content%>
        </p>
    </div>
    <div class="topic-label">
        <span>分类:</span>

    </div>
    <script type="text/javascript">
        $('button').click(function () {
            var title = $('#title').val();
            var content = $('#content').val();
            var author = $('a.username').text();

            $.ajax({
                url: '/newTopic',
                type: 'POST',
                data: {"author": author, "title": title, "content": content},
                success: function (data) {
                    if (data.result = 1) {
                        window.location = '/';
                    }
                }
            })
        })
    </script>
</div>
