/* global style*/
a {
    color: #000000;
}

/* footer.ejs*/
footer {
    border-top: 1px solid #e5e5e5;
    text-align: center;
    padding: 20px;
}


/* login.ejs */
.login {
    margin-top: 100px;
    min-height: 300px;
}

.register {
    margin-top: 100px;
    min-height: 300px;
}

.article-list {
    margin-top: 30px;
}